* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: var(--blueishWhite) !important;
}

.sidebar {
  height: 100%;
  width: 240px;
  background: var(--darkBlue);
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  /* padding: 6px 14px; */
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s;
  /* opacity: 0.6; */
}

.shadow-sidebar {
  transition: all 0.3s;
  /* margin-left: 10px; */
}

.shadow-sidebar-active {
  margin-left: 260px;
}

.sidebar span {
  /* opacity: 0 !important; */
}

.sidebar.active span {
  opacity: 1 !important;
  /* transition: all 0.3s; */
}

.sidebar.active {
  width: 240px !important;
  transition: all 0.2s;
}

.sidebar.active ul li span {
  opacity: 1;
}

.sidebar ul li span {
  position: absolute;
}

.logout-btn-container .menu-item {
  position: absolute;
  -webkit-animation: fadein 0.3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.3s; /* Firefox < 16 */
  -ms-animation: fadein 0.3s; /* Internet Explorer */
  -o-animation: fadein 0.3s; /* Opera < 12.1 */
  animation: fadein 0.3s;
}

.sidebar.active .sidebar-profile-info {
  position: absolute;
  left: 60px;
  -webkit-animation: fadein 0.3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.3s; /* Firefox < 16 */
  -ms-animation: fadein 0.3s; /* Internet Explorer */
  -o-animation: fadein 0.3s; /* Opera < 12.1 */
  animation: fadein 0.3s;
}

/* .sidebar  */

.sidebar.active li span {
  opacity: 1;
}

.sidebar li span {
  opacity: 0;
}

.sidebar .logo-content {
  /* color: #fff; */
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
}

.sidebar #hamburger {
  border: none;
  position: absolute;
  color: #fff;
  right: 12px;
  top: 20px;
  font-size: 20px;
  /* height: 50px;
  width: 50px; */
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}

.sidebar .sidebar-logo-mark {
  height: 30px;
  margin-top: 20px;
  margin-left: 15px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.sidebar-logo-rest {
  font-family: Nexa;
  font-size: 33px;
  position: absolute;
  top: 4px;
  left: 49px;
  color: white;
  letter-spacing: 0.9px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.sidebar ul {
  margin-top: 50px;
  padding-left: 0;

  margin-left: 15px;
}

.sidebar ul li {
  list-style: none;
  /* line-height: 70px; */
  margin-bottom: 30px;
  position: relative;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sidebar ul li a {
  text-decoration: none;
  /* margin-left: 30px; */
}

.sidebar ul li .menu-item {
  -webkit-animation: fadein 0.3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.3s; /* Firefox < 16 */
  -ms-animation: fadein 0.3s; /* Internet Explorer */
  -o-animation: fadein 0.3s; /* Opera < 12.1 */
  animation: fadein 0.3s;
}

.sidebar-icon {
  margin-right: 20px;
}

.sidebar ul li a:hover {
  color: var(--green);
}

.nav-inactive-link {
  text-decoration: none;
  color: var(--blueishWhite);
  transition: all 0.3s;
}

.nav-active-link {
  color: var(--green);
  border-top: 30px;
}

#sidebar-hr {
  border-top: 1px solid white;
  width: 30%;
  margin-left: 15px;
  margin-bottom: 20px;
}

.logout-btn-container {
  margin-bottom: 20px;
  position: relative;
}

.logout-btn-container a {
  text-decoration: none;
  height: 50px;
}

.logout-btn-container a:hover {
  /* margin-bottom: 20px; */
  color: var(--green);
}

.logout-btn-container:hover span {
  opacity: 1;
  /* transition: all 0.3s; */
  /* top: 50%;
  left: 20%; */
}

.sidebar-full-name {
  position: absolute;
  width: 150px;
  -webkit-animation: fadein 0.3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.3s; /* Firefox < 16 */
  -ms-animation: fadein 0.3s; /* Internet Explorer */
  -o-animation: fadein 0.3s; /* Opera < 12.1 */
  animation: fadein 0.3s;
}

.sidebar-role {
  position: absolute;
  width: 150px;
  top: 25px;
  -webkit-animation: fadein 0.3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.3s; /* Firefox < 16 */
  -ms-animation: fadein 0.3s; /* Internet Explorer */
  -o-animation: fadein 0.3s; /* Opera < 12.1 */
  animation: fadein 0.3s;
}

.tip {
  position: absolute;
  z-index: 1000;
  background-color: #fff;
  padding: 5px 10px;
  /* border: 1px solid red; */
  color: var(--black);
  z-index: 1000;
  top: 0;
  left: 30px;
  font-weight: bold;
  height: 35px;
  font-size: 14px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transform: translateY(-50%);
  text-align: center;
  transition: 0s;
  pointer-events: none;
  /* opacity: 0; */
}

.logout-tip {
  width: 80px;
  left: 40px;
  opacity: 0;
}

.sidebar li:hover .tip {
  /* background-color: red; */
  opacity: 1;
  transition: all 0.3s ease;
  top: 50%;
}

.tip p {
  margin: 0;
}

.sidebar-profile-container {
  display: flex;
  background-color: var(--greyishBlue);
  height: 100px;
  padding-left: 15px;
  padding-top: 15px;
}

#sidebar-user-icon {
  color: white;
  /* height: 30px; */
  cursor: pointer;
}

.sidebar-profile-img-container {
  background-color: #fafafa;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.sidebar-profile-img {
  max-height: 50px;
  max-width: 50px;
  /* object-fit: cover; */
  /* border: 1px solid red; */
}

.sidebar-profile-info {
  margin-left: 20px;
}

/* .sidebar ul li {
  height: 50px;
  position: relative;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
}

.sidebar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar ul li a:hover {
  color: var(--darkBlue);
  background: #fff;
}

*/

.sidebar .icon {
  color: #fff;
}

.main-card {
  border: 1px solid #ddd;
  padding: 20px;
}

.project-summary-card {
  /* background-color: #ddd; */
  border: 1px solid #ddd;
  /* width: 600px; */
  /* height: 200px; */
  /* margin: 50px; */
  /* padding: 20px; */
}

.project-summary-titles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.project-summary-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.circle-graph {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #ddd;
}

.projects-list-titles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.project-list-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.team-small-image-circle {
  background-color: #ddd;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.add-new-task-container {
  height: 500px;
  transition: height 0.3s;
}

.add-new-task-btn {
  height: 100px;
  background-color: #ddd;
}

.task-flag {
  height: 20px;
  border-radius: 5px;
  padding: 2px;
  border: 1px solid #903636;
  color: #903636;
  font-size: 10px;
  display: inline;
}

.insert-task-wrapper {
  transition: all 0.3s;
}

.team-big-image-circle {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #ddd;
}

.login-wrapper {
  width: 300px;
  height: 300px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.register-wrapper {
  width: 300px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

/* Search */

.wrapper {
  max-width: 100%;
  padding: 0 1.5em;
  background: white;
  border: 1px solid lightgray;
  overflow: hidden;
}
.wrapper:hover,
.wrapper.focus {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.search {
  display: flex;
  height: 2em;
  align-items: center;
}
.search input {
  flex: 1;
  width: 100%;
  border: 0;
}
.search i {
  color: tomato;
}

:focus {
  outline: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 1.5em;
  border-top: 1px solid lightgray;
  max-height: 0;
  overflow: hidden;
  overflow-y: auto;
  animation: enlarge 0.25s forwards;
}
.list li {
  margin-right: -1.5em;
  margin-left: -1.5em;
  padding: 0 1.5em;
  line-height: 1.5;
  cursor: pointer;
}
.list li:hover {
  background: whitesmoke;
}

.result {
  display: flex;
  align-items: center;
}
.result b {
  margin-right: 0.5em;
}
.result span {
  margin: 0 0.5em;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
}

@keyframes enlarge {
  to {
    max-height: 10em;
  }
}

.sidebar-profile-img {
  height: 100px;
  width: 100px;
  background-color: white;
  /* border-radius: 50%; */
}

.sidebar-dropzone-container {
  position: relative;
  background-color: lightgray;
  width: 50%;
  padding: 50px;
}

.profile-picture-modal {
  width: 1000px;
  height: 600px;
  background-color: #fff;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: "flex";
  flex-direction: row;
}

.dropzone-profile-picture {
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2;
  border-radius: 2;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  height: 300px;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
}

.sidebar-profile-modal-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropzone-task {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2;
  border-radius: 2;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  height: 150px;
  width: 150px;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
}

.task-images {
  max-width: 100%;
  max-height: 150px;
}

.task-img-container {
  height: 150px;
  width: 150px;
}

/* .dashboard-profile-picture {
}

.dashboard-upload-picture {
  height: 300px;
} */

.profile-picture-default {
  max-width: 100%;
  max-height: 100%;
}

.profile-picture-dashboard-modal {
  width: 100%;
}

/* FONTS AND COLORS */

@font-face {
  font-family: "Raleway";
  src: url(./assets/fonts/Raleway-VariableFont_wght.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Raleway";
  src: url(./assets/fonts/Raleway-VariableFont_wght.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "OpenSans";
  src: url(./assets/fonts/OpenSans-VariableFont_wdthwght.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Nexa";
  src: url(./assets/fonts/NEXA-BOLD.OTF);
  font-weight: normal;
}

:root {
  --darkBlue: #212541;
  --green: #72b547;
  --greenHover: #5c9b35;
  --red: #e56868;
  --redHover: #ca4c4c;
  --lightBlue: #4ba9d2;
  --black: #131313;
  --blueishWhite: #f3f4f5;
  --midGrey: #aaaaaa;
  --whiteGrey: #eeeeee;
  --darkGrey: #707070;
  --black: #131314;
  --greyishBlue: #343857;
  --orange: #ffd2aa;
}

/* .open-sans,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
input,
label {
  font-family: OpenSans !important;
} */

.h-1 {
  font-family: Raleway, sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: var(--darkGrey);
}

.h-2 {
  font-family: Raleway, sans-serif;
  font-size: 38px;
  font-weight: bold;
  color: var(--black);
}

.h-3 {
  font-family: Raleway, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: var(--darkGrey);
}

.b-1 {
  font-family: OpenSans;
  font-size: 20px;
  font-weight: normal;
  color: var(--darkGrey);
}

.b-1-bold {
  font-family: OpenSans;
  font-size: 20px;
  font-weight: bold;
  color: var(--darkGrey);
}

.b-2 {
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: var(--darkGrey);
}

.b-2-bold {
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: var(--darkGrey);
  text-decoration: none;
}

.b-3 {
  font-family: OpenSans, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: var(--darkGrey);
}

.b-4 {
  font-family: OpenSans, sans-serif;
  font-size: 10px;
  font-weight: normal;
  color: var(--darkGrey);
}

a {
  text-decoration: none !important;
}

.main-heading {
  margin-top: 40px;
}

.card-container {
  background-color: white;
  border-radius: 10px;
  border: none;
  box-shadow: 0 3px 6px rgba(32, 33, 36, 0.28);
  padding: 40px;
}

.card-container a {
  color: var(--darkGrey);
}

.card-container a:hover {
  color: var(--green);
}

.card-title {
  margin: 0;
}

.card-content {
  margin: 0;
}

.overview-col-l {
  padding-left: 0 !important;
}

.overview-col-r {
  padding-right: 0 !important;
}

.user-team-icon {
  color: var(--darkGrey);
  font-size: 20px;
  cursor: pointer;
}

.remove-review-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  color: var(--darkGrey);
  cursor: pointer;
}

.overview-col-r .card-container {
  height: 620px;
}

.overview-col-r .all-reviews-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 500px;
}

.all-reviews-container::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

/* .card-container::-webkit-scrollbar-track {
  background: orange; 
} */

.project-title-selected {
  color: var(--green);
}

.all-reviews-container::-webkit-scrollbar-thumb {
  background-color: var(--blueishWhite); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid white;
}

.all-reviews-container {
}

.review-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* background-color: var(--blueishWhite); */
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  transition: all 0.3s;
}

.review-container:hover {
  background-color: var(--blueishWhite);
}

.review-container p {
  margin: 0;
}

.review-container:last-of-type {
  margin-bottom: 0;
}

.review-approval {
  background-color: var(--orange);
  padding: 3px 10px;
  border-radius: 5px;
  color: white;
  text-transform: capitalize;
}

.review-approval-red {
  background-color: var(--red);
  padding: 3px 10px;
  border-radius: 5px;
  color: white;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
}

.review-approval-red:hover {
  background-color: var(--redHover);
}

.review-approval-green {
  background-color: var(--green);
  padding: 3px 10px;
  border-radius: 5px;
  color: white;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
}

.review-approval-green:hover {
  background-color: var(--greenHover);
}

.review-approval-worker-red {
  background-color: var(--red);
  padding: 3px 10px;
  border-radius: 5px;
  color: white;
  text-transform: capitalize;
  text-align: center;
}

.review-approval-worker-green {
  background-color: var(--green);
  padding: 3px 10px;
  border-radius: 5px;
  color: white;
  text-transform: capitalize;
  text-align: center;
}

@keyframes loadProgress {
  from {
    width: 0%;
  }
  to {
    width: 25%;
  }
}

.progress-bar-container {
  display: flex;
  justify-content: space-between;
  transition: all 0.3s;
  align-items: center;
  position: relative;
}

.progress-bar-whole {
  background-color: var(--whiteGrey);
  width: 90%;
  height: 10px;
  border-radius: 5px;
}

.progress-bar {
  height: 10px;
  /* width: 25%; */
  background-color: var(--green) !important;
  border-radius: 5px;
  position: absolute;
  transition: width 0.3s;
  /* -webkit-animation: loadProgress 0.3s;
  -moz-animation: loadProgress 0.3s;
  -ms-animation: loadProgress 0.3s;
  -o-animation: loadProgress 0.3s;
  animation: loadProgress 0.3s; */
}

/* LOGIN */

.login-register-container {
  width: 1000px;
  height: 600px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: flex;
  overflow: hidden;
}

.login-register-image-container {
  flex: 1;
  background-color: var(--darkBlue);
  display: flex;
}

.login-register-image {
  align-self: center;
  justify-self: center;
}

.login-register-input-container {
  flex: 1;
  position: relative;
}

.login-register-inputs {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 450px;
  align-self: center;
  /* align-items: center; */
  justify-content: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-55%);
}

.login-rejected {
  /* border: none; */
  border-bottom: 0.5px solid var(--red);
  width: 100%;
  transition: all 0.3s;
}

#loginLogo {
  height: 70px;
}

.login-input {
  border: none;
  border-bottom: 0.5px solid var(--whiteGrey);
  width: 100%;
  transition: all 0.3s;
}

/* .login-input:hover {
  border-bottom: 0.5px solid var(--midGrey);
} */

.login-input:focus {
  border-bottom: 0.5px solid var(--midGrey);
  width: 100%;
}

.login-input ::-webkit-input-placeholder {
  padding: 20px;
}

.btn-default-g {
  width: 120px;
  height: 30px;
  background-color: var(--green);
  border: none;
  color: white;
  border-radius: 5px;
  transition: all 0.3s;
}

.btn-default-g:hover {
  background-color: #5b9736;
}

.login-register-switch {
  cursor: pointer;
  color: var(--lightBlue);
}

.credentials-error {
  color: var(--red);
  margin: 0 auto;
  position: absolute;
  bottom: 30px;
}

.register-error {
  color: var(--red);
  margin: 0 auto;
  position: absolute;
  bottom: -70px;
  text-align: center;
}
