.sidebar-wrapper {
  width: 400px;
  height: 100vh;
  background-color: #777;
  font-size: 28px;
}

.project-summary-card {
  background-color: #ddd;
  width: 600px;
  height: 200px;
  margin: 50px;
}

.project-summary-card div {
  display: flex;
  justify-content: space-between;
}
